nav {height: 100px; width: 100%; background: linear-gradient(#000000 10%, #00000000 100%); position: fixed; top: 0; left: 0; z-index: 5; display: flex;}
nav .left {height: 60px; width: 50%; display: flex;}
nav .left img {height: 40px; margin: 10px;}
nav .right {height: 60px; width: 50%; display: flex; justify-content: right;}
nav a {font-weight: bold; margin: 0 20px; display: flex block; justify-content: center; align-items: center; position: relative; cursor: pointer; color: #ffffff; text-decoration: none;}
nav a::after {content: ''; position: absolute; width: 100%; transform: scaleX(0); height: 1px; bottom: 10px; left: 0; background-color: #ffffff; transform-origin: bottom right; transition: transform 0.25s ease-out;}
nav a:hover::after {transform: scaleX(1); transform-origin: bottom left;}

footer {display: block; width: calc(100% - 20px); height: auto; bottom: 0; left: 0; background-color: #30343d; padding: 10px; position: relative;}
footer h4 {text-decoration: underline; margin: 0; margin-top: 10px; color: #cfcfff;}
footer a {margin: 0; margin-top: 5px; text-decoration: none; color: #e0e0e0;}
footer a:hover {text-decoration: underline; cursor: pointer; color: #ffffff;}
footer h2 {position: absolute; height: 30px; top: calc(50% - 30px); right: 10%;}
#ip-display {font-weight: bold; position: absolute; bottom: 5px; right: 5px; margin: 0; font-size: 16px; display: block;}
