/* i know guys, line breaks in the middle of classes are DISGUSTING but for the sake of organization deal with it :3 */

/* default to dark theme because its what all the cool kids use */
:root {
    --background: #000000;
    --main-text-col: #ffffff;
    --subtle-text-diff-col: #dfdfff;
    --subtle-text-diff-gry: #dfdfdf;
    --footer-background: #212125;
    --puddle-text: #666677;
    --medium-1: #232323;
    --medium-2: #323232;
    --medium-3: #454545;
}

/* light theme */
.light-theme {
    --background: #eeeeee;
    --main-text-col: #000000;
    --subtle-text-diff-col: #000066;
    --subtle-text-diff-gry: #2f2f2f;
    --footer-background: #cdcdcd;
    --puddle-text: #aaaabb;
    --medium-1: #dcdcdc;
    --medium-2: #cdcdcd;
    --medium-3: #bababa;
}

/* dark theme */
.dark-theme {
    --background: #000000;
    --main-text-col: #ffffff;
    --subtle-text-diff-col: #dfdfff;
    --subtle-text-diff-gry: #dfdfdf;
    --footer-background: #212125;
    --puddle-text: #666677;
    --medium-1: #232323;
    --medium-2: #323232;
    --medium-3: #454545;
}

/* amethyst theme */
.amethyst-theme {
    --background: #1e0021;
    --main-text-col: #efd7ff;
    --subtle-text-diff-col: #dcbcf2;
    --subtle-text-diff-gry: #dfc7ef;
    --footer-background: #0d000f;
    --puddle-text: #bfa7cf;
    --medium-1: #2c102c;
    --medium-2: #3a193b;
    --medium-3: #511d4c;
}

/* bloodred theme */
.bloodred-theme {
    --background: #550000;
    --main-text-col: #ffaaaa;
    --subtle-text-diff-col: #ffaac0;
    --subtle-text-diff-gry: #ddbbbf;
    --footer-background: #3f0000;
    --puddle-text: #999faa;
    --medium-1: #660002;
    --medium-2: #7f100f;
    --medium-3: #8f100d;
}

/* deep ocean theme */
.deepocean-theme {
    --background: #094e63;
    --main-text-col: #c6d7dc;
    --subtle-text-diff-col: #b8c1da;
    --subtle-text-diff-gry: #daddde;
    --footer-background: #053242;
    --puddle-text: #9fa8ad;
    --medium-1: #073d4d;
    --medium-2: #022d3a;
    --medium-3: #02212a;
}

/* jungle theme */
.jungle-theme {
    --background: #096407;
    --main-text-col: #c9dcc6;
    --subtle-text-diff-col: #dad9b8;
    --subtle-text-diff-gry: #dadeda;
    --footer-background: #073d03;
    --puddle-text: #a4ad9f;
    --medium-1: #074d08;
    --medium-2: #033a02;
    --medium-3: #062a02;
}

/* inferno theme */
.inferno-theme {
    --background: #be581d;
    --main-text-col: #dcdac6;
    --subtle-text-diff-col: #dad8b8;
    --subtle-text-diff-gry: #dededa;
    --footer-background: #741806;
    --puddle-text: #b4af95;
    --medium-1: #b64e0e;
    --medium-2: #8f430e;
    --medium-3: #71340b;
}
