/* i know guys, line breaks in the middle of classes are DISGUSTING but for the sake of organization deal with it :3 */

/* default to dark theme because its what all the cool kids use */
:root {
    --background: #000000;
    --main-text-col: #ffffff;
    --subtle-text-diff-col: #dfdfff;
    --subtle-text-diff-gry: #dfdfdf;
    --footer-background: #212125;
    --puddle-text: #666677;
    --medium-1: #232323;
    --medium-2: #323232;
    --medium-3: #454545;
}

/* light theme */
.light-theme {
    --background: #eeeeee;
    --main-text-col: #000000;
    --subtle-text-diff-col: #000066;
    --subtle-text-diff-gry: #2f2f2f;
    --footer-background: #cdcdcd;
    --puddle-text: #aaaabb;
    --medium-1: #dcdcdc;
    --medium-2: #cdcdcd;
    --medium-3: #bababa;
}

/* dark theme */
.dark-theme {
    --background: #000000;
    --main-text-col: #ffffff;
    --subtle-text-diff-col: #dfdfff;
    --subtle-text-diff-gry: #dfdfdf;
    --footer-background: #212125;
    --puddle-text: #666677;
    --medium-1: #232323;
    --medium-2: #323232;
    --medium-3: #454545;
}

/* amethyst theme */
.amethyst-theme {
    --background: #1e0021;
    --main-text-col: #efd7ff;
    --subtle-text-diff-col: #dcbcf2;
    --subtle-text-diff-gry: #dfc7ef;
    --footer-background: #0d000f;
    --puddle-text: #bfa7cf;
    --medium-1: #2c102c;
    --medium-2: #3a193b;
    --medium-3: #511d4c;
}

/* bloodred theme */
.bloodred-theme {
    --background: #550000;
    --main-text-col: #ffaaaa;
    --subtle-text-diff-col: #ffaac0;
    --subtle-text-diff-gry: #ddbbbf;
    --footer-background: #3f0000;
    --puddle-text: #666677;
    --medium-1: #660002;
    --medium-2: #7f100f;
    --medium-3: #8f100d;
}
