:root {
    --background: #061a20;
    --background-light: #0a2730;
    --background-lighter: #1d5b6e;
    --dark: #021318;
    --text: #ffffff;
    --text-dull: #aaaaaa;
    --btn-hover: #ffffff0f;
}
body {margin: 0; color: var(--text);}
nav.m {width: calc(80% - 5px); height: 60px; padding-left: 5px; background: #ffffff05; box-shadow: 0 0 10px 2px var(--background-light); border-radius: 30px; position: fixed; top: 15px; left: 10%; display: flex; transition: 0.15s ease; z-index: 100; overflow: hidden;}
nav.m .right {height: 100%; width: calc(100% - 55px); padding-right: 5px; background: transparent; display: flex; justify-content: right;}
#smallnavbtn {height: 40px; width: 40px; margin: 10px; background: transparent; border: none; color: var(--text); font-size: 22px; transition: filter 0.2s ease, left 0.2s ease; display: flex; position: fixed; top: 0; left: 0; z-index: 101; display: none;}
#smallnavbtn:hover {filter: drop-shadow(0 0 4px var(--text)); cursor: pointer;}
.navbtn {color: var(--text); filter: drop-shadow(0 0 4px var(--background)); background: transparent; border: none; height: 40px; margin: 10px 5px; font-weight: bold; padding: 0 12px; border-radius: 20px; transition: background-color 0.15s ease, filter 0.2s ease; position: relative; font-family: "Manrope";}
.navbtn:hover {cursor: pointer;}
.navbtn i {padding-block-end: 0;}
.navbtn:after {content: ""; position: absolute; width: calc(100% - 40px); transform: scaleX(0); height: 1px; bottom: 0px; left: 20px; background-color: var(--text); transform-origin: bottom center; transition: transform 0.25s ease-out;}
.navbtn:hover::after {transform: scaleX(1); transform-origin: bottom center; box-shadow: 0 0 5px 1px var(--text);}
#sidenav {width: 200px; height: 100%; position: fixed; left: -200px; top: 0; background: var(--background); border-radius: 0; transition: left 0.2s ease; z-index: 100; display: none; flex-direction: column; overflow: scroll;}
#sidenav button {height: 40px; width: 100%; color: var(--text); background: transparent; border: none; font-size: 25px; font-family: "Manrope"; font-weight: bold; text-align: left; margin-bottom: 10px; transition: box-shadow 0.2s ease;}
#sidenav button:hover {box-shadow: 0 0 10px 2px var(--background-lighter); cursor: pointer;}
#sidenav button span {margin-left: 10px;}

footer {width: calc(100% - 20px); padding: 10px; padding-top: 40px; background: var(--dark); position: relative; z-index: 3; margin: 0;}
footer h5 {margin: 0; font-size: 15px; position: absolute;}
footer h5#status {right: 10px; top: 40px;}
footer .ext-links {width: 33%; background: #ffffff0f; margin-top: 25px;}
footer .ext-links p {margin: 0;}
footer .ext-links a {color: var(--text); text-decoration: none; display: inline-block; margin-bottom: 5px;}
footer .ext-links a:hover {text-decoration: underline;}

@media screen and (max-width: 8in) {
    .navtext {display: none;}
    .navbtn {width: 40px; font-size: 22px;}
    .navbtn:after {display: none;}
    nav.m button {display: flex; justify-content: center; align-items: center; padding: 0;}
    nav.m button:hover {filter: drop-shadow(0 0 4px var(--text)); cursor: pointer;}
}
@media screen and (max-width: 5in) {
    nav.m {display: none;}
    #smallnavbtn {display: block;}
    #sidenav {display: flex;}
    .navbtn {display: none;}
    #status {left: 10px; margin-top: 20px;}
    footer .ext-links {margin-top: 45px;}
}
